@charset "utf-8";


body {
    background-color: rgb(255, 255, 255);
}

/* Navigation Bar */
header > div > nav.bar {
    font-size: 20pt;
    background-color: rgb(255, 255, 255);
    color: rgb(123, 95, 63);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    line-height: double; 
}

header > div > nav.bar > ul li:nth-of-type(2), header > div > nav.bar > ul li:nth-of-type(4), header > div > nav.bar > ul li:nth-of-type(7) {
    margin-bottom: 35px;
}


header > div > nav.bar > ul > li {
    margin: 10px 2px;
    text-align: left;
}

header > div > nav.bar > ul {
    list-style-type: none;
}

nav > ul > li a:link, nav > ul > li a:visited {
    color: rgb(123, 95, 63);
    text-decoration: none;
}
nav > ul > li a:hover {
color: rgb(238, 125, 55);
}

header > nav.hrz_nav > ul {
    list-style-type: none;
    margin: 0px 0px 5px 0px;
    text-align: center;
    background-color: rgb(62, 60, 60);
  }
  
  header > nav.hrz_nav > ul > li {
    display: inline;
    font-size: 16pt;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 2px 5px;
    padding: 2px 20px;
  }
  
  header > nav.hrz_nav > ul > li a:link, header > nav.hrz_nav > ul > li a:visited {
    display: inline;
    font-size: 16pt;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  header > nav.hrz_nav > ul > li a:hover{
    display: inline;
    font-size: 16pt;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(238, 125, 55);
    text-decoration: none;
  }


/* Body */

body .Event_News #Event_drp{
    background-color: rgb(192, 192, 192);
    margin-left: 18%;
    margin: 10px auto;
    padding: 10px 10px;
    text-align: justify;
    
}

body > .Event_News h1 {
    color: rgb(255, 255, 255);
    font-size: 30pt;
    padding-top: 4px;
    padding-bottom: 3px;
    text-align: center;
    border: 1px double rgb(241, 163, 62);
    margin-left: 20%;
    background-color: rgb(255, 35, 35);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body > .Event_News > #Event_drp h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

body > .Event_News > #Event_drp p {
    margin-left: 20%;
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Big_News > h1 a:link, #Big_News > h1 a:visited {
    color: white;
    text-decoration: none;
}

#Big_News > h1 a:hover {
    color: rgb(251, 255, 0);
}

/* Nike */

div.Nike{
    background-color: rgb(192, 192, 192);
    margin-left: 20%;
    margin-right: 10px;
    margin-bottom: 30px;
}

div.Nike > h2 {
    font-size: 30pt;
    font-family: fantasy;
    text-align: left;
    font-weight: bold;
    color: rgb(116, 110, 110);
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 60px;
    letter-spacing: 3px;
    background-color: rgb(255, 231, 231);
}

div.Nike > img {
    padding-left: 10px;
}

div#Air_Force, div#Air_Jordan, div#Air_Max, div#Go_Fly, div#Air_Mag {
    border: 2px solid gray;
    background-color: rgb(223, 226, 229);

}

div#Air_Force > a > p.shoes_name, div#Air_Jordan > a > p.shoes_name, div#Air_Max > a > p.shoes_name {
    color: rgb(84, 52, 52);
    font-size: 16pt;
    font-weight: bold;
}


div.Nike a:link, div.Nike a:visited, div.Nike a:hover {
    color: rgb(35, 15, 44);
    text-decoration: none;
 }

/* Aadidas */

div.Adidas{
    background-color: rgb(192, 192, 192);
    margin-left: 20%;
    margin-right: 10px;
    margin-bottom: 30px;
}

div.Adidas > h2 {
    font-size: 30pt;
    font-family: fantasy;
    text-align: left;
    font-weight: bold;
    color: rgb(116, 110, 110);
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 60px;
    letter-spacing: 3px;
    background-color: rgb(255, 231, 231);
}

div.Adidas > img {
    padding-left: 10px;
}

div#Yeezy, div#Stan_Smith, div#_4DFWD, div#Ultraboost, div#Superstar{
    border: 2px solid gray;
    background-color: rgb(223, 226, 229);

}

div#Yeezy > a > p.shoes_name, div#Stan_Smith > a > p.shoes_name, div#_4DFWD > a > p.shoes_name {
    color: rgb(84, 52, 52);
    font-size: 16pt;
    font-weight: bold;
}

div.Adidas a:link, div.Adidas a:visited, div.Adidas a:hover {
    color: rgb(35, 15, 44);
    text-decoration: none;
 }



 /* PUMA */
 
 div.PUMA{
    background-color: rgb(192, 192, 192);
    margin-left: 20%;
    margin-right: 10px;
    margin-bottom: 30px;
}

div.PUMA > h2 {
    font-size: 30pt;
    font-family: fantasy;
    text-align: left;
    font-weight: bold;
    color: rgb(116, 110, 110);
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 60px;
    letter-spacing: 3px;
    background-color: rgb(255, 231, 231);
}

div.PUMA > img {
    padding-left: 10px;
}

div#Mirage, div#Suede_50, div#Classic, div#Lamelo_Ball, div#Running_Shoes {
    border: 2px solid gray;
    background-color: rgb(223, 226, 229);

}

div#Mirage > a > p.shoes_name, div#Suede_50 > a > p.shoes_name, div#Classic > a > p.shoes_name {
    color: rgb(84, 52, 52);
    font-size: 16pt;
    font-weight: bold;
}



div.PUMA a:link, div.PUMA a:visited, div.PUMA a:hover {
    color: rgb(35, 15, 44);
    text-decoration: none;
 }


 /* Price Tags */


.price {
    color:gray;
    text-align: right;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.price sup {
    color: rgb(228, 30, 30);
    font-weight:lighter;
    font-size: 12pt;
    padding: 10px 5px;
}




/* Product List */


#hot_sales {
    background-color: red;
    font-size: 20pt;
    color: white;
    margin: 0px;
}

.shoes_names{
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shoes_names a:link, .shoes_names a:visited, .shoes_names a:hover {
    color: black;
    text-decoration: none;
}

/* Nike */


div.Nike_list {
    border-bottom: 2px solid black;
}

#Nike_heading{
    display: block;
    background-color: rgb(187, 187, 198);
    padding-left: 50px;
    text-align: left;
    font-size: 21pt;
    font-family: fantasy;
}

.Nike_list > .Nike_shoes_list > div {
    width: 280px;
}

#Nike_heading img {
    padding-left: 10px;
}



/* Adidas */


div.Adidas_list {
    border-bottom: 2px solid black;
}

#Adidas_heading{
    display: block;
    background-color: rgb(187, 187, 198);
    padding-left: 50px;
    text-align: left;
    font-size: 21pt;
    font-family: fantasy;
}

#Adidas_heading img {
    padding-left: 10px;
}



/* PUMA */


div.PUMA_list {
    border-bottom: 2px solid black;
}

#PUMA_heading{
    display: block;
    background-color: rgb(187, 187, 198);
    padding-left: 50px;
    text-align: left;
    font-size: 21pt;
    font-family: fantasy;
}

#PUMA_heading img {
    padding-left: 10px;
}


/* Table */

.ranking h2 {
    font-size: 24pt;
    text-align: center;
}

.ranking img {
    vertical-align: middle;
    transform: rotate(35deg);
}

table{
    border: 1px solid;
    padding: 10px;
    box-shadow: 17px 18px rgb(105, 102, 102);
  
}

.salesTable{
border:2px solid black;
border-collapse: collapse;
width: 80%;
font-size: 25px;
text-align: center;
margin: 10px auto;

}

#top_sales {
    font-size: 24pt;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td,th{
border:2px solid rgb(109, 46, 46);
background-color:rgb(255, 255, 255);

}

th,td{
    padding:30px;
}
.rate{
    font-size:25px;
    padding:5px;
}

td a:link, td a:visited {
    color: black;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

td a:hover {
    color: darkblue;
}


/* About Us Table */

.overalltable{
    display:block;
    border:solid green;
    width:100%;
    margin:0;
    padding:0;

}





/* Footer */


footer {
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid white 1px
 }
footer p#infor {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;
}

footer p#right {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 9pt;
}

footer a:link, footer a:link {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: blue;
    text-decoration: underline;
}

/* Thank You Page */

.thank_u_page {
    background-color: transparent;
}

#thank_u {
    font-size: 40pt;
    color: beige;
}

#home_botton {
    width: 100px;
    height: 50px;
    font-size: 24pt;
    border-radius: 20px;
    color: ghostwhite;
    background-color: rgb(140, 140, 140);
}

#home_botton:hover {
    background-color: rgb(79, 79, 79);
    cursor: pointer;
}